---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

code.language-plaintext.highlighter-rouge {
  background: #1c2023;
  color: $base05;
}


.intro-image {
    max-height: 20rem;
    overflow: hidden;
    position: relative;
}
.intro-image img {
    margin-top: -10em;
}

//entry thumbnails

